<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
    <%= image_tag "logo3.png", class: "logo" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-flex align-items-center justify-content-between">

      <%#  -----  LOGGED USER NAVBAR ----- %>

      <% if user_signed_in? %>
        <li style="margin-right: 40px;", class="<%= 'active' if params[:action] == 'home' %>">
          <%= link_to "Choisir un atelier", root_path(anchor: "program") %>
        </li>
        <li style="margin-right: 40px;", class="<%= 'active' if params[:action] == 'dashboard' %>">
          <%= link_to "Mon tableau de bord", dashboard_path %>
        </li>
        <li style="margin-right: 40px;">
          <%= link_to "Nous contacter", new_contact_path %>
        </li>
        <li class="nav-item active messages">
          <i class="far fa-envelope message-icon"></i>
          <p class="message-number">5</p>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag current_user.default_avatar, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Tableau de bord", dashboard_path, class: "dropdown-item" %>
            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>

      <%#  -----  VISITOR NAVBAR ----- %>

      <% else %>
        <li style="margin-right: 40px;" class="<%= 'active' if params[:action] == 'home' %>">
          <%= link_to "Accueil", root_path %>
        </li>
        <li style="margin-right: 40px;" class="<%= 'active' if params[:action] == 'new' && params[:controller] == 'contacts' %>">
          <%= link_to "Contact", new_contact_path %>
        </li>
        <li style="margin-right: 40px;" class="login <%= 'active' if params[:action] == 'new' && params[:controller] == 'devise/sessions' %>">
          <%= link_to "Connexion", new_user_session_path %>
        </li>
        <li class="sign-up">
          <%= link_to "Se préinscrire", new_user_registration_path, class: "btn-sign-up" %>
        </li>
      <% end %>

    </ul>
  </div>
</div>
