<%# BANNER %>

<div class="container mt-5 mb-5 visitor-homepage">
  <div class="mt-5 d-flex justify-content-between align-items-center banner">
    <div>
      <h1>Bien vieillir et être bien entouré</h1>
      <%= image_tag "homepage/together.png", class:"small-device" %>
      <p style="font-size: 18px;">Pour cela, nous vous proposons des ateliers divers et variés, à distance ou en présentiel, afin de maintenir un lien social et d’améliorer les conditions du <em>bien-vieillir</em> à domicile de manière préventive.</p>
      <%# root_path(anchor: "program") %>


      <%= link_to "En savoir plus", root_path(anchor: "your-profile"), class: "btn btn-font btn-know-more btn-margin", style: "padding-right: 41px; padding-left: 41px; border: 1px solid #6447F9; color: #6447F9;" %>
      <%= link_to "Me préinscrire", new_contact_path, class: "btn btn-primary btn-font btn-margin", style: "padding-right: 41px; padding-left: 41px;" %>
    </div>
    <%= image_tag "homepage/together.png", class:"large-device" %>
  </div>
</div>

<%# ACTIVITIES %>

<div class="home-activities pt-4 pb-4" style="background-color: white; margin-bottom: 100px;">
  <h3 class="text-center mt-5" style="font-size: 16px; letter-spacing: 2px;">DÉCOUVRIR</h3>
  <h2 class="text-center mb-5" style="font-size: 32px">Nos ateliers</h2>
  <div class="container text-center activity-badges mb-5">
    <div class="badge-width badge-margin">
      <%= image_tag "illustrations/badges/calligraphy2.png", class:"activity-img"%>
    </div>
    <div class="badge-width badge-margin">
      <%= image_tag "illustrations/badges/meditation2.png", class:"activity-img" %>
    </div>
    <div class="badge-width badge-margin">
      <%= image_tag "illustrations/badges/running2.png", class:"activity-img" %>
    </div>
    <div class="badge-width">
      <%= image_tag "illustrations/badges/cooking2.png", class:"activity-img" %>
    </div>
  </div>
</div>

<%# YOUR PROFILE %>

<div class="container" id="your-profile"style="margin-bottom: 100px;">
  <h3 class="text-center mt-5" style="font-size: 16px; letter-spacing: 2px;">FONCTIONNEMENT</h3>
  <h2 class="text-center mb-5" style="font-size: 32px">Votre profil</h2>
  <div class="profile-card">
    <div class="profile-img-container">
      <%= image_tag "illustrations/profile/senior.png" %>
    </div>
    <div class="profile-text">
      <h2>Je suis senior</h2>
      <p>J’ai plus de 60 ans et je souhaite participer à des ateliers, en présentiel ou à distance, à l'aide d'un suivi ludique et personnalisé.</p>
      <div class="btn-container">
        <%= link_to "En savoir plus", senior_path_path, class: "btn btn-font btn-margin btn-know-more", style: "padding-right: 41px; padding-left: 41px; border: 1px solid #6447F9; color: #6447F9;" %>
        <%= link_to "Me préinscrire", new_contact_path, class: "btn btn-primary btn-font btn-margin", style: "padding-right: 41px; padding-left: 41px;" %>
      </div>
    </div>
  </div>
  <div class="profile-card">
    <div class="profile-img-container">
      <%= image_tag "homepage/together.png" %>
    </div>
    <div class="profile-text">
      <h2>Je suis un proche</h2>
      <p>Je souhaite inscrire une personne de plus de 60 ans afin qu'elle participe à des ateliers, suivre son évolution et ses différentes activités.</p>
      <div class="btn-container">
        <%= link_to "En savoir plus", relative_path_path, class: "btn btn-font btn-margin btn-know-more", style: "padding-right: 41px; padding-left: 41px; border: 1px solid #6447F9; color: #6447F9;" %>
        <%= link_to "Me préinscrire", new_contact_path, class: "btn btn-primary btn-font btn-margin", style: "padding-right: 41px; padding-left: 41px;" %>
      </div>
    </div>
  </div>
  <div class="profile-card">
    <div class="profile-img-container">
      <%= image_tag "illustrations/mind.png" %>
    </div>
    <div class="profile-text">
      <h2>Je suis animateur ou professeur</h2>
      <p>Je souhaite animer des ateliers en présentiel ou à distance afin de participer à l'épanouissement des seniors.</p>
      <div class="btn-container">
        <%= link_to "En savoir plus", teacher_path_path, class: "btn btn-font btn-margin btn-know-more", style: "padding-right: 41px; padding-left: 41px; border: 1px solid #6447F9; color: #6447F9;" %>
        <%= link_to "Me préinscrire", new_contact_path, class: "btn btn-primary btn-font btn-margin", style: "padding-right: 41px; padding-left: 41px;" %>
      </div>
    </div>
  </div>
</div>


<%# SPONSORS %>

<div class="sponsors pt-4 pb-4" style="background-color: white; margin-bottom: 100px;">
  <h3 class="text-center mt-5 mb-5" style="font-size: 16px; letter-spacing: 2px;">NOS PARTENAIRES</h3>
  <div class="container d-flex justify-content-center mb-5">
    <%= image_tag "sponsors/le-wagon-color.png" %>
  </div>
</div>


<%# CONTACT %>

<div class="container d-flex justify-content-center contact-form-home" style="margin-bottom: 160px; background-image: url(<%= image_path "background_contact.png" %>);">
  <div class="col-md-6">
    <h3 class="text-center" style="font-size: 16px; letter-spacing: 2px;">BESOIN D'AIDE ?</h3>
    <h2 class="text-center mb-5" style="font-size: 32px">Contactez-nous</h2>
    <%= simple_form_for @contact do |f| %>
      <div class="form-input d-flex justify-content-between">
        <%= f.input :name, label: "Votre nom", placeholder: "Votre nom complet", label: false %>
        <%= f.input :email, required: true, label: false, placeholder: "Votre adresse email", class: "contact-form-text-area flex-grow-1" %>
      </div>
      <%= f.input :message, label: false, placeholder: "Votre message", as: :text, :input_html => { class: 'test', :cols => 5, :rows => 4 } %>
      <div class= "d-none">
        <%= f.label :nickname %>
        <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
      </div>
      <div class="btn-container">
        <%= button_tag type: 'submit', class: 'btn btn-primary btn-submit' do %>
          <p class="mb-0">Envoyer <i class="far fa-paper-plane pl-2"></i></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
