<div class="text-center mt-5">
  <h1>Bonjour <%= current_user.first_name %> !</h1>
</div>

<div class="mood">
  <h2 class="text-center mb-5">Comment allez-vous ?</h2>
  <%= simple_form_for @mood do |f| %>
    <%= f.input :score,
        as: :radio_buttons,
        collection: Mood::SCORES,
        collection_wrapper_tag: 'div',
        collection_wrapper_class: 'category-wrapper',
        item_wrapper_class: 'category-item',
        input_html: {class: 'category-selector'},
        legend: false %>
    <%= f.button :submit, "Enregistrer mon humeur", class: "btn-primary" %>
  <% end %>
</div>

<div class="text-center">
  <h2 class="text-center">Que fait-on aujourd'hui ?</h2>
  <%= link_to "On bouge !", activities_path(mind: "false"),  class:"btn btn-secondary" %>
  <%= link_to "On apprend !", activities_path(mind: "true"), class:"btn btn-secondary" %>
</div>

<div>
  <h2 class="text-center">Avez-vous un moyen de locomotion ?</h2>
</div>
