<%# -- CONTAINER WITH MARGIN FOR SPACE FROM NAV-BAR -- %>
<div class="container mt-4">
  <%# ---- SENIOR DASHBOARD ---- %>
  <% if current_user.status == 'senior'%>
      <div id="countdown" data-timer="<%= current_user.next_session.start_at %>">
      <ul>
        <li style="font-size: 1rem; padding: 3px;"><span id="days" style="font-size: 1rem;"></span>Jours</li>
        <li style="font-size: 1rem; padding: 3px"><span id="hours" style="font-size: 1rem;"></span>Heures</li>
        <li style="font-size: 1rem; padding: 3px"><span id="minutes" style="font-size: 1rem;"></span>Minutes</li>
      </ul>
    </div>
    <div class="row">
      <div class="col-3">
        <h4 class="card-title text-left">votre prochain atelier:</h4>
      </div>
      <div class="col-9">
        <%# ------- PROCHAIN ATELIER ------ %>
        <div class="card booking-card mb-3">
          <div class="card-left">
            <i class="far fa-calendar"></i>
            <h4 class="card-text date text-center"><%= current_user.next_session.start_at.strftime("%d")%> <%= @month[current_user.next_session.start_at.month].downcase %> <%= current_user.next_session.start_at.strftime("%Y") %> </h4>
            <h4 class="card-text time text-center"><%= current_user.next_session.start_at.strftime("%H")%>h<%= current_user.next_session.start_at.strftime("%M") %></h4>
          </div>
          <div class="card-right card-body">
            <h4 class="card-title"><%= current_user.next_session.activity.title %></h4>
            <p class="card-text text-justify"><%= truncate(current_user.next_session.activity.description, :length => 150) %></p>
            <div class="d-flex justify-content-between align-items-center mt-5">
              <%= link_to "Rejoindre l'atelier 🚀", activity_session_path(current_user.next_session), class: "btn btn-primary btn-join" %>
              <%= link_to "Annuler".html_safe,
                                    booking_path(current_user.bookings.last),
                                    method: :delete,
                                    data: { confirm: "Etes-vous sûr de vouloir annuler cet atelier ?" },
                                    class: "btn-cancel" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <h4 class="card-title text-left">votre dernier atelier:</h4>
      </div>
      <div class="col-9">
        <% if current_user.previous_session.present? %>
          <div class="card booking-card mb-3" id='previous-session'>
            <div class="row g-0">
              <div class="col-md-4">
                <h4 class="card-text text-center"><strong><%= current_user.previous_session.start_at.strftime("%d")%> <%= @month[current_user.previous_session.start_at.month] %><br>
                    <%= current_user.previous_session.start_at.strftime("%Y") %> <br>
                    à <%= current_user.previous_session.start_at.strftime("%H")%>h<%= current_user.previous_session.start_at.strftime("%M") %></strong></h4>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title"><%= current_user.previous_session.activity.title %></h4>
                  <%= simple_form_for current_user.bookings.last do |f| %>
                    <div class="atelier-mood">
                      <%= f.input :score,
                                as: :radio_buttons,
                                collection: Booking::SCORES,
                                collection_wrapper_tag: 'div',
                                collection_wrapper_class: 'category-wrapper',
                                item_wrapper_class: 'category-item',
                                legend_tag: false,
                                label_method: lambda { |score| render 'mood_label_atelier', score: score },
                                input_html: {class: 'category-selector'}
                                %>
                      <%= f.button :submit, "Enregistrer", class: "btn btn-primary " %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>


    <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="calendar-tab" data-toggle="tab" href="#calendar" role="tab" aria-controls="calendar" aria-selected="true">Mon calendrier</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="moods-tab" data-toggle="tab" href="#moods" role="tab" aria-controls="moods" aria-selected="false">Mes humeurs</a>
      </li>
    </ul>

    <div class="tab-content mx-3" id="myTabContent">
      <div class="tab-pane fade show active" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
        <div class="my-calendar">
          <%= month_calendar(events: @user_sessions) do |date, sessions| %>
            <%= date %>
            <% sessions.each do |session| %>
              <div>
                <%= session.activity.title %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="tab-pane fade" id="moods" role="tabpanel" aria-labelledby="moods-tab">
        <% if !current_user.moods.last.nil? %>
          <%= area_chart current_user.moods.group_by_day(:created_at, format: "%d-%m").maximum(:score),
                          # xtitle: "Jours",
                          label: "Humeur",
                          ytitle: "Humeurs",
                          colors: ["#6447F9", "#6447F9"],
                          empty: "Nous n'avons actuellement aucune information sur votre humeur",
                          discrete: true
                      %>
        <% end %>
      </div>
    </div>

  <% end %>
  <%# ------ TEACHER DASHBOARD ------ %>
  <% if current_user.status == 'teacher'%>
    <div class="col-8">
      <h4>Mes Activités</h4>
      <% @user_activities.each do |activity| %>
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <h4 class="card-text text-center"><strong><%= activity.title %> </strong></h4>
              <h5 class=><%= activity.duration %> minutes</h5>
              <%= link_to activity_path(activity), class: "btn btn-primary" do %>
                Modifier l'Atelier
              <% end %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-text"><%= truncate(activity.description, :length => 80) %></p>
                <%= link_to '<i class="fa fa-trash "></i>'.html_safe,
                                    activity_path(activity),
                                    method: :delete,
                                    data: { confirm: "Annuler?" } %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%# ---- TEACHER COURS PASSÉS TAB ------ %>
    <div class="container">
      <h3>Mes Cours Passés</h3>
      <% @user_activities.each do |activity| %>
        <% if activity.sessions.select { |session| session.start_at <= Date.today }.each do |session| %>
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <h4 class="card-text text-left"><strong><%= activity.title %> </strong></h4>
                <h5 class="card-text text-left"><%= session.start_at.strftime("%d")%> <%= @month[session.start_at.month] %><br>
                  <%= session.start_at.strftime("%Y") %> <br>
                  à <%= session.start_at.strftime("%H")%>h<%= session.start_at.strftime("%M") %></h5>
                <%= link_to activity_path(activity), class: "btn btn-primary" do %> Modifier l'Atelier
                <% end %>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <%= form_for :booking_comment, url: add_comment_bookings_path, html: { method: :patch } do |f| %>
                    <div class="d-flex" style="height: 40px;">
                      <%# unless session.users.nil? %>
                      <%= f.select :comment, session.users.map { |s| [s.first_name, s.id]}  %>
                      <%= f.text_area :content %>
                      <%= f.hidden_field :session_id, value: session.id %>
                      <%# input_html: { style: "width: 500px; height: 40px; margin-right: 10px;"}  %>
                      <%= f.submit "Soumettre", class: "btn btn-primary " %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
<%# --- ADMIN DASHBOARD --- %>
<% if current_user.status == "true" %>
  <div class="tab-pane fade" id="decouvrir" role="tabpanel" aria-labelledby="decouvrir-tab">
    <%# EPHAD %>
    <div class="container">
      <h2>Découvrir les établissements spécialisés à proximité</h2>
      <div class="cards">
        <% @ephad["records"].each do |ephad| %>
          <div class="card-ephad ">
            <img src="<%= "#{@image_url}#{ephad["fields"]["image"]["id"]}" %>" />
            <div class="card-ephad-infos">
              <div>
                <h2><%= ephad["fields"]["nom_de_l_ehpad"] %></h2>
                <p><%= ephad["fields"]["adresse"] %></p>
                <p><%= ephad["fields"]["code_postal"] %></p>
                <p><%= ephad["fields"]["ville"] %></p>
              </div>
              <h2 class="card-ephad-pricing"><%= ephad["fields"]["telephone"] %></h2>
              <%# <gsimg src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-ephad-user avatar-bordered" /> %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>
