<div class="container mt-3  d-flex justify-content-center">
  <div class="col-md-6">
    <h1>Contactez nous</h1>
    <%= simple_form_for @contact do |f| %>
      <%= f.input :name, label: "Votre nom", placeholder: "Entrer votre nom complet" %>
      <%= f.input :email, required: true, label: "Votre email", placeholder: "Entrer votre adresse email", class: "contact-form-text-area" %>
      <%= f.input :message, label: "Votre message", placeholder: "Entrer votre message", as: :text, :input_html => { class: 'test', :cols => 5, :rows => 4 } %>
      <div class= "d-none">
        <%= f.label :nickname %>
        <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
      </div>
      <%= f.submit 'Envoyer', class: 'btn btn-primary mb-5' %>
    <% end %>
  </div>
</div>
