<div class="container mb-5 d-flex flex-column align-items-center">
  <% if @activities.empty? %>
    <h1 class="mt-5">Nous n'avons aucune activité à vous proposer pour le moment...</h1>
  <% else %>
    <h1 class="mt-5 mb-5 text-center">Liste des activités</h1>
		<div class ="d-flex flex-column">
			<% @activities.each do |activity| %>
				<div class="card-index-activity d-flex mb-4">
          <% if activity.title.downcase == "yoga" %>
            <img class="card-img" src="https://cdn.dribbble.com/users/6024852/screenshots/15593756/media/365eb82411fe7529743dafd0ba2de79d.jpg?compress=1&resize=1600x1200" alt="">
          <% elsif activity.title.downcase == "méditation" %>
            <img class="card-img" src="https://cdn.dribbble.com/users/6024852/screenshots/15565023/media/987b29bd5f82a841142900ff698e0cc3.jpg?compress=1&resize=1600x1200" alt="">
          <% elsif activity.title.downcase == "danse" %>
            <img class="card-img" src="https://cdn.dribbble.com/users/466099/screenshots/10543884/media/1ececd66a2fcfb19f4b6fc2e3820a306.png?compress=1&resize=1600x1200" alt="">
          <% elsif activity.title.downcase == "cours de cuisine" %>
            <img class="card-img" src="https://cdn.dribbble.com/users/6024852/screenshots/15977513/media/8dbb9a5e197a208e6bce93d2660fc5bf.jpeg?compress=1&resize=1600x1200" alt="">
          <% end %>
          <div class="d-flex flex-column justify-content-between w-100">
						<h3 class="card-title text-left">
              <%= activity.title %>
            </h3>
            <p>
              <i class="fas fa-quote-left"></i>
              <%= truncate(activity.description, :length => 80) %>
              <i class="fas fa-quote-right"></i>
            </p>
            <div class="d-flex justify-content-between">
            <p>
              <i class="fas fa-hourglass-half"></i>
              <%= activity.duration %> min
            </p>
						  <%= link_to "En savoir plus", activity_path(activity), class: "btn btn-primary text-center mt-auto"%>
            </div>
          </div>
				</div>
			<% end %>
		</div>
  <% end %>
  <%= link_to "Retour vers la page d'accueil", root_path, class: "btn btn-secondary mt-3" %>
</div>
