<div class="container mb-5 d-flex flex-column align-items-center">
  <% if @activities.empty? %>
    <h1 class="mt-5">Nous n'avons aucun atelier correspondant à votre recherche à vous proposer pour le moment...</h1>
  <% else %>
    <h1 class="mt-5 mb-5 text-center">Nos ateliers</h1>
		<div class ="d-flex flex-column">
			<% @activities.each do |activity| %>
        <% if activity.sessions.any? { |session| session.start_at >= Date.today } %>
          <div class="card-index-activity d-flex mb-4">
            <% if activity.title.downcase == "yoga" %>
              <%= image_tag "illustrations/yoga.png", class:"card-img" %>
            <% elsif activity.title.downcase == "méditation" %>
              <%= image_tag "illustrations/meditation.png", class:"card-img" %>
            <% elsif activity.title.downcase == "danse" %>
              <%= image_tag "illustrations/dance.png", class:"card-img" %>
            <% elsif activity.title.downcase == "cours de cuisine" %>
              <%= image_tag "illustrations/cooking.png", class:"card-img" %>
            <% elsif activity.title.downcase == "calligraphie" %>
              <%= image_tag "illustrations/calligraphy.png", class:"card-img" %>
            <% elsif activity.title.downcase == "badminton" %>
              <%= image_tag "illustrations/badminton.png", class:"card-img" %>
            <% elsif activity.title.downcase == "renforcement musculaire" %>
              <%= image_tag "illustrations/musculation.png", class:"card-img" %>
            <% elsif activity.title.downcase == "marche" %>
              <%= image_tag "illustrations/running.png", class:"card-img" %>
            <% elsif activity.title.downcase == "echecs" %>
              <%= image_tag "illustrations/chess.png", class:"card-img" %>
            <% elsif activity.title.downcase == "maquillage" %>
              <%= image_tag "illustrations/makeup.png", class:"card-img" %>
            <% elsif activity.title.downcase == "musique" %>
              <%= image_tag "illustrations/music.png", class:"card-img" %>
            <% elsif activity.title.downcase == "peinture" %>
              <%= image_tag "illustrations/painting.png", class:"card-img" %>
            <% elsif activity.title.downcase == "photographie" %>
              <%= image_tag "illustrations/photography.png", class:"card-img" %>
            <% end %>
            <div class="d-flex flex-column justify-content-between w-100">
              <h3 class="card-title text-left">
                <%= activity.title %>
              </h3>
              <p>
                <i class="fas fa-quote-left"></i>
                <%= truncate(activity.description, :length => 80) %>
                <i class="fas fa-quote-right"></i>
              </p>
              <div class="d-flex justify-content-between">
              <p>
                <i class="fas fa-hourglass-half"></i>
                <%= activity.duration %> min
              </p>
                <%= link_to "En savoir plus", activity_path(activity), class: "btn btn-primary text-center mt-auto"%>
              </div>
            </div>
          </div>
         <% end %>
			<% end %>
		</div>
  <% end %>
  <%= link_to "Retour vers la page d'accueil", root_path, class: "btn btn-secondary mt-3" %>
</div>
