<div class="container mb-5 d-flex flex-column align-items-center activity-index">
  <% if @activities.empty? %>
    <h1 class="mt-5">Nous n'avons aucun atelier correspondant à votre recherche à vous proposer pour le moment...</h1>
  <% else %>
    <h1 class="mt-5 mb-4 text-center">Nos ateliers
      <% if params[:search][:mind]!=""%>
        <strong class="tag" style="margin-right: 20px; margin-left: 20px;">
          <%if params[:search][:mind] == "true" %>
            On apprend !
          <% elsif params[:search][:mind] == "false" %>
            On bouge !
          <% end %>
        </strong>
      <% end %>
      <% if params[:search][:remote]!=""%>
        <strong class="tag">
          <%if params[:search][:remote] == "true" %>
            Chez moi
          <%elsif params[:search][:remote] == "false" %>
            A l'extérieur
          <% end %>
        </strong>
      <% end %>
    </h1>
    <% activity_count = @activities.select { |activity| activity.sessions.any? { |session| session.start_at >= Date.today } }.count  %>
    <p class="mb-5" style="font-size: 20px;"><%= activity_count %> <% if activity_count <= 1 %> atelier trouvé<% else %> ateliers trouvés<% end %></p>
    <div style = "width: 100%;">
      <%= link_to "Retour vers la page d'accueil", root_path, class: "btn btn-secondary btn-back mb-3", style: "margin-left: 168px;" %>
    </div>

    <div class ="cards-trip">
			<% @activities.each do |activity| %>
        <% if activity.sessions.any? { |session| session.start_at >= Date.today } %>

          <div class="card-trip">
            <div style="background-color: rgb(216, 231, 235)">
              <div class="card-trip-top"
                style="background-image: url(
                  <%= render "activity_illustrations", activity: activity%>
                )">
              </div>
            </div>
            <div class="card-trip-bottom" >
              <div class="card-trip-pres">
                <h3><%= activity.title %> - <%= activity.duration %> min</h3>
                <p><%= truncate(activity.description, :length => 180) %></p>
              </div>
            </div>
            <%= image_tag current_user.default_avatar, class:"avatar2"%>
            <%= link_to "En savoir plus", activity_path(activity), class: "btn btn-primary text-center mb-3", style: "display: block; width: fit-content; margin: auto; padding: 4px 25px;"%>
          </div>
         <% end %>
			<% end %>
		</div>
  <% end %>
</div>
