<div class="container">
  <h1><%= @activity.title %></h1>
  <%= link_to "Modifier", edit_activity_path(@activity) %>
  <%= link_to "Supprimer", activity_path(@activity), method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer #{@activity.title} ?"} %>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
