<div class="container mb-5 d-flex flex-column activity-show">

  <%# HTML SETUP - VIEWS FOR META %>
  <% content_for :meta_title, "#{@activity.title} is on #{DEFAULT_META["meta_product_name"]}" %>
  <% content_for :meta_description, @activity.description %>
  <%# content_for :meta_image, cl_image_path(@activity.photo.path) %>

  <%# BACK TO RESULTS %>
  <div class="back-to-results">
    <%= simple_form_for :search, url: activities_path, method: :get do |f| %>
      <%= f.input :mind,
          as: :radio_buttons,
          input_html: {checked: true, style: "display: none"},
          collection: [@activity.mind],
          legend_tag: false %>

      <%= f.input :remote,
          as: :radio_buttons,
          input_html: {checked: true, style: "display: none"},
          collection: [@activity.remote],
          legend_tag: false %>

      <%= f.button :submit, "Retour aux activités", class: "btn btn-secondary btn-back mt-3" %>
    <% end %>
  </div>
  <div class="row mt-5 d-flex justify-content-between" style="background-color: white; border-radius: 40px;">
    <div class="col-6 pl-4" style="padding-right: 26px;">
      <h1 class="mt-5 mb-3 text-left"><strong><%= @activity.title %></strong><br> avec <%= @activity.user.first_name.capitalize %></h1>
      <%# EDIT AND DELETE ACTIVITY %>
      <div class="d-flex justify-content-center mb-4">
        <% if @activity.user == current_user %>
          <% if current_user.status == "teacher" || current_user.status == "admin" %>
            <%= link_to edit_activity_path(@activity) do %>
              <i class="fas fa-pencil-alt mr-3"></i>
            <% end %>
            <%= link_to activity_path(@activity), method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer #{@activity.title} ?"} do %>
              <i class="far fa-trash-alt" style="color: red;"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <p class="title-infos">
        <i class="fas fa-stopwatch mr-2"></i>
        <%= @activity.duration %> min
      </p>
      <p class="title-infos">
        <i class="fas fa-map-marked-alt mr-2"></i>
        <% if @activity.remote %>
          Chez moi
        <% else %>
          <%= @activity.address %>
        <% end %>
      </p>

      <div data-controller="session">
        <p class="title-infos"><i class="fas fa-calendar-alt mr-2"></i> Créneaux disponibles</p>
        <%= simple_form_for @booking do |f| %>
          <div class="d-flex" style="height: 40px;">
            <%# if @activity.sessions.select { |session| session.start_at >=  Date.today } %>
              <%= f.input :session_id,
                          collection: Session.upcoming(@activity).sort_by(&:start_at),
                          prompt: "Choisir un créneau",
                          label: false,
                          input_html: { style: "width: 300px; height: 40px; margin-right: 10px; border-radius: 5px;", data: { session_target: 'input', action: 'change->session#change' } } %>

            <% if current_user.status == "teacher" %>
              <%= f.submit "Réserver", class: "btn btn-primary ml-3", disabled: true %>
            <% else %>
                <%= f.submit "Réserver", class: "btn btn-primary ml-3" %>
            <% end %>
          </div>
        <% end %>
          <p class="section-title mt-3 slots">
          </p>
      </div>

      <p class="text-justify mt-5" style="color: #7B61FF;">
        <i class="fas fa-quote-left"></i>
        <%= @activity.description %>
        <i class="fas fa-quote-right"></i>
      </p>

      <%# SESSIONS %>
    </div>
    <%# MAP %>
    <div class="col-6 p-0">
      <% if !@activity.remote %>
        <div id="map"
            style="height: 100%; border-top-right-radius: 40px; border-bottom-right-radius: 40px;"
            data-marker="<%= @marker.to_json %>"
            data-user-marker="<%= @user_marker.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      <% else %>
        <div style="background-image: url(<%= image_path "illustrations/remote3.png" %>); background-size: cover; background-position: center; height: 100%; border-top-right-radius: 40px; border-bottom-right-radius: 40px;">
        </div>
      <% end %>
    </div>
  </div>
</div>
